/* Body styles */

body {
  background-color: #082626;
  color: #FAF0DC ;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/*Main styles */

main {
  background-color: #ffffff ;
  color:#111c13;
}

/* Full-width image styles */

.full-width {
  width: 100%;
  height: auto;
}

/*Definition term styles */

dt {
  font-weight: bold;
}

/* Header styles */

header {
  color: snow;
  min-height: 100px;

}

/* Navigation Styles*/
nav {   
  font-size:1.5em; 

}

/* Center the titles in the aside, activities, and prizes sections */

.asideforclasses h2,
.activities h2,
.prizes h2 {
  text-align: center;
}


/* Vertical Navigation LARGE SCREENS */

@media screen and (min-width: 599px) {
nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
 
  }

nav li {
  display: block;
  width: 120px;
  background-color: #3b7852;
  text-align: center;
  }
}

/* Vertical Navigation SMALL SCREENS */

@media screen and (max-width: 599px) {

nav ul {
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  }

nav li {
  display: inline;
  }

nav li a {
  color: #111c13;
  text-decoration: none;
  font-size: 18px;
  }
}

/* Navigation colors. The website https://colors-picker.com/hex-color-picker/ helped me. */

nav a {
  color: white; 
  text-decoration: none; 
 
}

nav a:visited {
  color: rgb(245, 124, 25); 
}

nav a:hover {
  color: rgb(132, 0, 248); 
}

/* Page Title */

#pagetitle {
  font-family:"Brush Script MT", cursive;
  font-size: 4em;
}

/* So the home page image stays responsive */

.responsive { 
  width: 100%;
  height: auto;
}

/* Header background and image styles */

@media screen and (max-width: 599px) {
}
header {
  background-image: url(../images/LogoSmall.png);
  min-height: 50px;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #82745c;
  
}

@media screen and (min-width: 599px) {
body {
  background-color: #FAF0DC ;
  color:#111c13;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  }
}

@media screen and (min-width: 599px) {
header {
  background-image: url(../images/LogoLarge.png);
  min-height: 100px;
  background-color:#082626;
 
  }
}

@media screen and (max-width: 599px) {
.asideforclasses left {
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 10px;
  
  }
}

/* Three Columns for Large Screen. I have three columns instead of two. Used the Flex method. */

.container {
  display: flex;
}

.asideforclasses, .activities, .prizes {
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
}

/* So the Small Screen columns stay vertical */

@media screen and (max-width: 599px) {
  .container {
      flex-direction: column; 
  }

  .asideforclasses, .activities, .prizes {
      width: auto; 
  }
}

/* These are the background colors for the classes page. */

.asideforclasses {
  background-color: #d0eddb;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 20px;
}

.activities {
  background-color: #F1B552;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 20px;

}

.prizes {
  background-color: #8EB8A3;
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 20px;
}

/* This is the ourteam page. This is where the images of the team members, size and captions are maintained. */

.ouremployees {
  font-weight:bold;
  color:#111c13;
}

.headshots  {
  max-width:100%;
  overflow: auto;
  white-space: nowrap;
}

.headshots figure{
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.headshots img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;

}

.headshots figcaption {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  color: #111c13;

}

.bigitalics {
  font-size: 1em;
  font-style: italic;
}

.ouremployees {
  background-color: #f5ce91;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .headshots figure {
    width:150px;
  }
}

@media screen and (max-width: 599px) {
  .headshots figure {
    width: 80px;
  }
}

@media screen and (max-width: 599px) {
  .headshots figcaption {
      font-weight: bold;
      font-size: 11px;
      margin-top: 5px;
      color: #111c13;
  }
}

/* Footer styles */

footer {
  clear: both;
  text-align: center;
}